<nav>
    <a id = "nHome" href="/">Home</a>
    <a id = "nIngredients" href="/ingredients">Ingredients</a>
    <a id = "nRecipes" href="/recipes">Recipes</a>
    <a id = "nFavorites" href="/favorites">Favorites</a>
    <a id = "nLogout" href="/logout">Log Out</a>
</nav>
<hr>