<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>
    <div class="container">
      <h1>Add New Ingredient</h1>
      <form action="/ingredients/add" method="POST">
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required><br>
  
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required><br>
  
        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" required><br>
  
        <button type="submit">Add Ingredient</button>
      </form>
      <a href="/">Back to Inventory</a>
    </div>

<%- include("partials/footer.ejs") %>