<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>


<h1>Suggested Food Idea</h1>
<img id = "inspoImg" src = "<%=foodImage%>">
<br>
<a href="/" >Go back Home</a>
<%- include("partials/footer.ejs") %>