.header{
    background: blue;
    text-align: center;
    font-size: 46px;
}
body{
    font-size: 16px;
    color: red;
    text-align: center;
    background-color: rgb(42, 65, 73);
}
.content{
    align-items: center;

}
.container{
    color: #00ff00;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
  }