.header{
    background: rgb(49, 66, 73);
    color: white;
    height: 50px;
    text-align: center;
    font-size: 60px;
    font-style: bold;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#homeMenu {
  font-size: 20px;
}

h1, h2 { /* font size for important titles */
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
  padding-top: 20px;
}

nav a {     /*navigation bar squares*/
  border-color: rgb(49, 66, 73);
  border-width: 10px;
  border-radius:10px;
  padding: 15px;
  padding-bottom: 2px;
  padding-top: 5px;
  font-size: 35px;
  text-decoration: none;   
  color: white;         
}

body{
    font-size: 16px;
    color: rgb(49, 66, 73);
    font-style: bold;
    text-align: center;
    background-color: rgb(95, 127, 146);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.content{
    align-items: center;
}

#inspoImg {
  height: 500px;
  width: auto;
}

.container{
    color: #ffffff;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
}

form {
  display: inline-block;
  text-align: left;
}

form label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
}

form input,
form select {
  width: 220px;
}

.inventoryTable, #inspoImg {
  background-color: rgb(49, 66, 73);
  border-radius: 15px;
  border-style:ridge;
  padding: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

th, thead {
  padding: 15px;
  font-size: 35px;
}

tr {
  font-size: 30px;
  font-style: bold;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}

button {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 5px;
  background-color:rgb(49, 66, 73);
  color: white;
  border-radius: 15px;
}
.ingredient-item {
    display: flex;
    align-items: flex-start;
    padding: 0.25rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .ingredient-measure {
    display: inline-block;
    width: 120px;
    color: #6c757d; 
    text-align: start;
  }
  
  .ingredient-name {
    text-align: start;
  }

  .inventoryTable {
    text-align: center;
  }